main{
    background-color: $color-negro;
    color: white;
    h2{
        text-align: center;
        color: yellow;
        font-family: $fuente-principal;
    }
    p{
        font-family: $fuente-principal;
    }
}